<!DOCTYPE html>
<html>
<head>
<title> CWIFT Scatterplot </title>
<script src="https://d3js.org/d3.v5.min.js"></script>
  <style>
  
    .legend span {
      word-wrap: normal;
      margin-right: 100px;
    }

    .gridlines line {
      stroke: #bbb;
    }

    .gridlines .domain {
      stroke: none;
    }



    p {
      margin: 35px;
      margin-right: 150px;
      width: 1000px;
      word-wrap: break-word;
    }

    h3 {
      margin-top: 50px;
      margin: 35px;
      margin-right: 150px;
    }
  </style>
</head>

<body>

 <h3>
 CWIFT
 </h3>



<p id="p1b"> 
<br>

<svg id = "scatterplot" class="svg1b" height="800" width="1200"> 
<text id="label" text-anchor="left" alignment-baseline="hanging"></text>
</svg>

<div id="scatterLegend" class="legend"> </div>

<script>

var svg1 = d3.select(".svg1")
  
// HELPER FUNCTION
//  lighten a color a little bit using d3 color functions
function lighten(color) {
    
    let hclColor = d3.hcl(color);
    let luma = Math.min(130, hclColor.l + 30);
    return d3.rgb( d3.hcl( hclColor.h, hclColor.c, luma ) );
  
}

const svg1b = d3.select(".svg1b");
const width1b = svg1b.attr("width");
const height1b = svg1b.attr("height");

const scatter1b = svg1b.append("g");

const margin = 50;

const chartW = width1b - (margin * 2);
const chartH = height1b - (margin * 2);
const stateScale = d3.scaleOrdinal().range(d3.schemeCategory10);

d3.json("{% url "cwift_json" %}").then(function(data){

  let cwift_json = JSON.parse(data)
	const cwiftMin = d3.min(cwift_json, (d) => {return d['LEA_CWIFTEST'];} );
 	const cwiftMax = d3.max(cwift_json, (d) => {return d['LEA_CWIFTEST'];} );

 	const leaidMin = d3.min(cwift_json, (d) => {return d['LEAID'];} );
 	const leaidMax = d3.max(cwift_json, (d) => {return d['LEAID'];} );

 	
  const xScale = d3.scaleLinear().domain([leaidMin, leaidMax]).range([margin + 30, chartW - margin]);
  const yScale = d3.scaleLinear().domain([cwiftMin, cwiftMax]).range([chartH,margin]);
  

  // Y axis
  let leftAxis = d3.axisLeft(yScale)
    .tickFormat("");
                   
  let leftGridlines = d3.axisLeft(yScale)
                        .tickSize(-chartW-10)
                        .tickFormat("")
  svg1b.append("g")
    .attr("class", "y axis")
    .attr("transform","translate("+(margin+10)+","+margin+")")
    .call(leftAxis)
  svg1b.append("g")
    .attr("class", "y gridlines")
    .attr("transform","translate("+(margin-10)+","+margin+")")
    .call(leftGridlines);
  
  // X axis
  let bottomAxis = d3.axisBottom(xScale)
                      .tickFormat("");
                    
  let bottomGridlines = d3.axisBottom(xScale)
                          .tickSize(-chartH-10)
                          .tickFormat("")
  svg1b.append("g")
    .attr("class", "x axis")
    .attr("transform","translate("+margin+","+(chartH+margin+10)+")")
    .call(bottomAxis);
  svg1b.append("g")
    .attr("class", "x gridlines")
    .attr("transform","translate("+margin+","+(chartH+margin+10)+")")
    .call(bottomGridlines);


    cwift_json.forEach((d) => { 
  
    let circle = svg1b.append("circle")
        .attr("cx", xScale(d['LEAID']))
        .attr("cy", yScale(d['LEA_CWIFTEST']))
        .attr("r", 4.0)
        .attr("opacity", 0.3)
        .attr("state", d.ST_NAME)
        .attr("label", d['LEA_NAME'])
        .style("fill", stateScale(d['ST_NAME']));

    // mouseover
    circle.on("mouseover", function() {

      //console.log(d)

      d3.select(this)
        .transition().duration(200)
        .attr("r", 10.0)
        .attr("stroke-width",4)
        .attr("stroke","black")
        .attr("opacity", 0.7)
        .style("fill",lighten(stateScale(d['ST_NAME'])));
  
      d3.select("#label")
        .text("LEAID: " + d.LEAID + " || " + "Name: " + d['LEA_NAME'] + " || " +  "CWIFT: " + d.LEA_CWIFTEST)
        .attr("x", width1b/4)
        .attr("y", 0 );
    });
  
    // clear mouseover
    circle.on("mouseout", function() {
      d3.select(this)
        .transition().duration(200)
        .attr("r", 4.0)
        .attr("opacity", 0.3)
        .attr("stroke-width",1)
        .attr("stroke","none")
        .style("fill", stateScale(d['ST_NAME']) );

      d3.select("#label")
        .text(""); 

    });



  });

  d3.select(".legend")
  .append("text")
  .text("All States ")
  .style("color", "black")
  .on("mouseover", function() {
    
    
    d3.selectAll("#scatterplot circle").each( function() {
    
      let element = d3.select(this);
    
      element.attr("opacity",0.1);
      element.attr("visibility", "");
                
    })
    
    
  })
        // D //
stateScale.domain().forEach(function(d,i) {
console.log(d)
d3.select(".legend")
  .append("text")
  .text(d + " ")
  .style("color",stateScale(d))
  .on("mouseover", function() {
    
    
    d3.selectAll("#scatterplot circle").each( function() {
    
      let element = d3.select(this);
      if (element.attr("state") === d) {

        element.attr("opacity",0.6);
       element.attr("visibility", "");
      }
      else {
        element.attr("opacity",0.1);
       element.attr("visibility", "hidden");
      }
    
    })
    
    

  })

}); 



  });	

  


</script>

</p>
</body>
</html>